window {
margin: 0px;
border: 1px solid #bd93f9;
background-color: #282a36;
}

#input {
margin: 5px;
border: none;
color: #ffffff;
background-color: #1e1e2e;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#scroll {
margin: 0px;
border: none;
color: #24273a;
}

#text {
margin: 5px;
border: none;
color: #ffffff;
} 

#entry.activatable #text {
color: #fffff;
background-color: #24273a;
}

#entry > * {
color: #282a36;
background-color: #282a36;
}

#entry:selected {
color: #282a36;
background-color: #282a36;
}

entry:selected #text {
font-weight: bold;
color: #24273a;
}
